.variant {
    padding: 0;
    border-radius: 100%;
}

.variant radio {
    color: transparent;
    background-color: inherit;
    border: 2px solid transparent;
}

.variant:checked radio {
    border: 2px solid @accent_bg_color;
}

#dark {
    background-color: #3d3846;
}

#light {
    background-color: #deddda;
}

#red {
    background-color: #e01b24;
}

#orange {
    background-color: #ff7800;
}

#yellow {
    background-color: #f6d32d;
}

#blue {
    background-color: #3584e4;
}

#green {
    background-color: #33d17a;
}

.tag {
    border-radius: 20px;
    background-color: alpha(currentColor, 0.07);
    padding: 5px 13px;
    margin: 0 2px;
}

.badge-blue {
    background-color: #3584e4;
}
.badge-green {
    background-color: #33d17a;
}

.badge-red {
    background-color: #e01b24;
}
.badge-black {
    background-color: #3d3846;
    color: #deddda;
}
.badge-orange {
    background-color: #ff7800;
}
.badge-yellow {
    background-color: #f6d32d;
}
.badge-white {
    background-color: #deddda;
    color: #3d3846;
}
.badge-brown {
    background-color: #a47e3c;
}
.badge-purple {
    background-color: #a47e3c;
}
.badge-pink {
    background-color: #e01b24;
}
.badge-gray {
    background-color: #deddda;
    color: #3d3846;
}
.badge-silver {
    background-color: #deddda;
    color: #3d3846;
}
.badge-gold {
    background-color: #f6d32d;
}
.badge-copper {
    background-color: #a47e3c;
}
.badge-bronze {
    background-color: #a47e3c;
}
.badge-iron {
    background-color: #3d3846;
    color: #deddda;
}
.badge-steel {
    background-color: #3d3846;
    color: #deddda;
}
.badge-tin {
    background-color: #deddda;
    color: #3d3846;
}
.badge-aluminum {
    background-color: #deddda;
    color: #3d3846;
}
.badge-cobalt {
    background-color: #3584e4;
}
.badge-titanium {
    background-color: #3d3846;
    color: #deddda;
}
.badge-platinum {
    background-color: #deddda;
    color: #3d3846;
}
.badge-lead {
    background-color: #3d3846;
    color: #deddda;
}
.badge-mercury {
    background-color: #deddda;
    color: #3d3846;
}
.badge-uranium {
    background-color: #33d17a;
    color: #3d3846;
}
.badge-antimony {
    background-color: #a47e3c;
}
.badge-arsenic {
    background-color: #a47e3c;
}
.badge-bismuth {
    background-color: #a47e3c;
}

.row-content {
    padding: 10px;
}

.content {
    margin: 10px 12px;
}
